<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HostEvent</title>
</head>
<body>
    <form action="/host-event" method="post">
        <input type="date" name="getdate">
        <input type="text" name="eventname" placeholder="event name">
        <textarea rows="5" cols="30" name="eventdes"></textarea>
        <label for="myfile">Select a file:</label>
        <input type="file" name="eventimg">
        <input type="submit" name="submit">
    </form>
</body>
</html>
